<html>
<!DOCTYPE html>
<html lang="en" class="no-js">

    <head>

        <meta charset="utf-8">
        <title>华中科技大学选课系统</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">

        <!-- CSS -->
        <link rel="stylesheet" href="assets/css/reset.css">
        <link rel="stylesheet" href="assets/css/login.css">

    </head>

    <body>
        <div class="page-container" id="login">
            <h1>华中科技大学选课系统</h1>
                <input type="text" name="username" class="username" placeholder="用户名">
                <input type="password" name="password" class="password" @keyup.enter="matchpassword" placeholder="密码">
                <a href="https://www.bilibili.com/" target="_blank" class='find'>　  忘记密码?</a>
                <button type="submit" class="submit_button" @click="matchpassword()">登录</button>
                <!--div class="error"><span>+</span></div>-->
                <a href="./register.html" target="_blank" class='register'>　  注册</a>              
                <a href="https://www.bilibili.com/" target="_blank" class='help'>帮助  　</a>
        </div>
        
        <!-- Javascript -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script>
          var app = new Vue({
            el:"#login",
            data:{
                isPasswordRight:false,
                loginsucceedurl:""
            },
            methods: {
                matchpassword:function(){
                    if(!this.isPasswordRight)
                        alert('Password error!')
                    else{
                        this.loginsucceedurl="https://www.bilibili.com/"
                        window.location.href=this.loginsucceedurl
                        }
                    }
            },
          })
        </script>
    </body>

    <div style="text-align:center;">
</div>
</html>

