<html>
<!DOCTYPE html>
<html lang="en" class="no-js">

    <head>

        <meta charset="utf-8">
        <title>华中科技大学选课系统</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">

        <!-- CSS -->
        <!--<link rel="stylesheet" href="assets/css/reset.css">-->
        <link rel="stylesheet" href="{{ url_for('static', filename='auth/assets/css/reset.css') }}">
        <!--<link rel="stylesheet" href="assets/css/register.css">-->
        <link rel="stylesheet" href="{{ url_for('static', filename='auth/assets/css/register.css') }}">

    </head>

    <body>

        <div class="page-container" id="register">
            <h1>华中科技大学选课系统</h1>
                <input type="text" v-model="username" name="username" class="username" placeholder="用户名">
                <input type="password" v-model="password" name="password" class="password" @keyup.enter="matchusename" placeholder="密码">
                <button type="submit" class="submit_button" @click="matchusename">注册</button>
                <!--div class="error"><span>+</span></div>-->
           
        </div>
		
        <!-- Javascript -->
        <!-- 官网提供的 axios 在线地址 -->
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
            <script>
              var app = new Vue({
                el:"#register",
                data:{
                    isRepeat:false,
                    username:"",
                    password:"",
                    registersucceedurl:""
                },
                methods: {
                    matchusename:function(){
                        var that = this;
                        console.log(this.username);
                        console.log(this.password);
                        axios.post("http://127.0.0.1:5000/auth/register",{username:this.username, password:this.password})
                        .then(function(response){
                            console.log(response.data);
                            if(response.headers.data=="0")
                                alert('该用户名已被使用！')
                            else{
                                that.registersucceedurl="./login"
                                window.location.href=that.registersucceedurl
                                }
                        },function (err) {
                            console.log(err);
                          })
                        }
                },
              })
            </script>

    </body>
<div style="text-align:center;">

</div>
</html>

